@font-face {
  font-family: "Karatula";
  src: url("fonts/KaratulaNormal.woff") format("woff"),
       url("/fonts/KaratulaNormal.ttf") format("ttf");
}
body {
    background: white;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#frame {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}
#frame #item {
    display: none;
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
}
.contour_tracer {
    width:100%;
    height: 100%;
}
.contour_tracer canvas {
    position: relative;
}
#predictionsdiv {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#labeldiv {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;    
}
#predictions {
    left: 0;
    top: 10px;
    font-size: 18px;
    padding: 3px;
}
#label {
    left: 0;
    bottom: 0;
    font-size: 18px;
    color: white;
    padding: 3px;
}

.speech-bubble {
    font-family: "Karatula";
    position: relative;
    background: #00aabb88;
    border-radius: .4em;
    margin-left: 2em;
    margin-right: 2em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #00aabb88;
    border-top: 0;
    margin-left: -6px;
    margin-top: -6px;
}
.speech-bubble2 {
    /*position: relative;*/
    font-family: "Karatula";
    background: #bb008188;
    border-radius: .4em;
    margin-left: 2em;
    margin-right: 2em;
}
.speech-bubble2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #bb008188;
    border-bottom: 0;
    margin-left: -6px;
    margin-bottom: -6px;
}
#label a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
}
