/*
a.home {
    position: fixed;
    left: 10px; top: 10px;
    width: 5%;
    height: 9.5%;    
}
a.home img {}
*/
.corner-a  {
    position: fixed;
    width: 5%;
    height: 9.5%;
    top: 10px;
    left: 10px;
    transform: rotate(270deg);
}

.corner-b  {
    position: fixed;
    width: 5%;
    height: 9.5%;
    left: 20px;
    top: 20px;
    transform: rotate(90deg);
    transition: left 0.5s, bottom 0.5s;
}

.corner-b:hover {
    left: 8px;
    bottom: 8px;
}

nav#TOC {
    display: none;
}

@font-face {
  font-family: "Karatula";
  src: url("fonts/KaratulaNormal.woff") format("woff"),
       url("/fonts/KaratulaNormal.ttf") format("ttf");
}
#divladder {
    position: fixed;
    left: 0;
    top: 0;
}
#divladderfoot {
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 10rem;
}
body {
    margin: auto;
    background: #AAAAAA;
    font-size: 18px;
}

h1 {
    padding-top: 5rem;
}
p.author, p.date {
    text-align: center;
}
h1, h2, h3 {
    font-family: "Karatula";
    text-align: center;
    padding-bottom: 4rem;
}

h2 {
    clear: all;
    margin-top: 10rem !important;
}

h1, h2, h3, nav#TOC, p, pre, blockquote {
    margin: auto;
    max-width: 48rem;
    /*border: 1px dotted gray;*/
}
p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
embed {
    width: 600px;
    height: 600px;
    background: white;
    max-width: 100%;
}
.flex {
    display: flex;
}
.placeholder {
    width: 400px;
    height: 200px;
    background: pink;
}

blockquote {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
blockquote p {
    display: inline;
    /*background: black;*/
    color: white;
}

blockquote {
    position: relative;
    background: black;
    border-radius: .4em;
}

blockquote:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: black;
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
}


figure {
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
figcaption {
    margin-left: auto;
    margin-right: auto;
    max-width: 24rem;
    background: blue;
    color: white;
}
figcaption a {
    color: white;
}

figcaption {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}

figcaption:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #00aabb;
    border-top: 0;
    margin-left: -6px;
    margin-top: -6px;
}


#audioplayer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
}
#audioplayer audio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #222F;
    height: 35px;
}
#audioplayer .subtitle {
    position: relative;
    bottom: 45px;
    left: -30px;
/*    left: -30px;
    bottom: 50px;
    padding: 0.25rem;
*/
    /*background: #222D;*/
    width: 14rem;
    cursor: pointer;
    max-width: 100%;
}
#audioplayer .showsubs {
/*    position: absolute;
    left: 0px;
    bottom: 40px;
*/
    cursor: pointer;
    background: #54bb00;
    color: white;
    display: none;
}
#audioplayer.hidesubs .subtitle {
    display: none;
}
#audioplayer.hidesubs .showsubs {
    display: inline-block;
}
.speech-bubble-bottom {
    /*position: relative;*/
    font-family: "Karatula";
    background: #54bb00;
    border-radius: .4em;
    margin-left: 2em;
    margin-right: 2em;
}
.speech-bubble-bottom:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #54bb00;
    border-bottom: 0;
    margin-left: -6px;
    margin-bottom: -6px;
}

figure {
    text-align: center;
}